<div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="backgroundColour navBarHeight fullWidth" fxLayoutAlign="space-between center" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="center stretch" [fxShow]="true"><img imgSrc="/Web/Downloaded images/logo.png" width="200px"></div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="start center" [fxShow]="true">
          <mat-icon class="whiteColour">settings</mat-icon><img imgSrc="/Web/Downloaded images/default-profile-picture.png" class="borderRadius" width="50px">
          <mat-accordion>
            <mat-expansion-panel class="expansionPanelWidth">
              <mat-expansion-panel-header>
                <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                  <div>
                    <p>Moon</p>
                  </div>
                </div>
              </mat-expansion-panel-header>
              <div fxLayout="row wrap" class="pointerCursor" fxLayoutAlign="start stretch" [fxShow]="true" routerLink="/home/staff/profile">
                <mat-icon>home</mat-icon>
                <div>
                  <p>Profile</p>
                </div>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <mat-icon>home</mat-icon>
                <div>
                  <p>Reset Password</p>
                </div>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" routerLink="/home/login">
                <mat-icon>home</mat-icon>
                <div>
                  <p>Log out</p>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" class="bodyHeight whiteColour backgroundColour" fxFlex="20.5" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" class="pointerCursor marginTop30 fullWidth" fxLayoutAlign="start stretch" [fxShow]="true" routerLink="/home/staff/dashboard">
          <div fxLayout="column wrap" class="marginLeft23" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" class="fakeExpansionPanelHeight" fxLayoutGap="15px" fxLayoutAlign="start center" [fxShow]="true">
              <mat-icon class="leftPanelIcons"> <span class="material-symbols-rounded"> house </span></mat-icon>
              <div>
                <p>Dashboard</p>
              </div>
            </div>
          </div>
        </div>
        <mat-accordion>
          <mat-expansion-panel class="expansionPanelWidth">
            <mat-expansion-panel-header>
              <div fxLayout="row wrap" class="fakeExpansionPanelHeight" fxLayoutGap="15px" fxLayoutAlign="start center" [fxShow]="true">
                <mat-icon class="leftPanelIcons">beach_access</mat-icon>
                <div>
                  <p>Leave</p>
                </div>
              </div>
            </mat-expansion-panel-header>
            <div fxLayout="row wrap" class="pointerCursor" fxLayoutAlign="start center" [fxShow]="true" routerLink="/home/staff/application">
              <mat-icon>home</mat-icon>
              <div>
                <p>Apply for leave</p>
              </div>
            </div>
            <div fxLayout="row wrap" class="pointerCursor" fxLayoutAlign="start center" [fxShow]="true" routerLink="/home/staff/history">
              <mat-icon>home</mat-icon>
              <div>
                <p>Leave history</p>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div fxLayout="column wrap" class="routerOutletBG routerOutletScroll" fxFlex="79.5" fxLayoutAlign="start stretch" [fxShow]="true">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>