<div fxLayout="row wrap" class="marginTop50 fullWidth" fxLayoutAlign="center stretch" [fxShow]="true">
  <div fxLayout="column wrap" class="fullWidth" fxFlex="95" fxLayoutAlign="start center" [fxShow]="true">
    <div fxLayout="row wrap" class="padding35 fullWidth adminBoxes" fxLayoutAlign="start center" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutGap="10px" fxLayoutAlign="space-between stretch" [fxShow]="true">
        <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
          <div>
            <p style="font-size: 20px; font-weight: 500;">LEAVE DETAILS</p>
          </div>
        </div>
        <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
          <div>
            <p style="font-weight: 400;">Home &gt; </p>
          </div>
          <div>
            <p style="font-weight: 400; color: gray;"> Leave</p>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="marginTop20 fullWidth" fxLayoutAlign="space-around stretch" [fxShow]="true">
      <div fxLayout="column wrap" class="departmentWhiteBox" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" class="fullWidth marginBottom10" fxLayoutAlign="start center" [fxShow]="true">
          <div>
            <p style="font-size: 20px; font-weight: 400;">Leave Details</p>
          </div>
        </div>
        <div fxLayout="row wrap" class="marginTop30 fullWidth marginBottom10" fxLayoutAlign="space-between stretch" [fxShow]="true">
          <div fxLayout="column wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="space-between stretch" [fxShow]="true">
              <div fxLayout="column wrap" class="inputContainer" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
                <div>
                  <p class="staffPortalText">Full Name</p>
                </div>
                <div class="leaveDetails">
                  <p class="staffPortalText">Full Name</p>
                </div>
              </div>
              <div fxLayout="column wrap" class="inputContainer" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
                <div>
                  <p class="staffPortalText">Email Address</p>
                </div>
                <div class="leaveDetails">
                  <p class="staffPortalText">Email Address</p>
                </div>
              </div>
              <div fxLayout="column wrap" class="inputContainer" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
                <div>
                  <p class="staffPortalText">Gender</p>
                </div>
                <div class="leaveDetails">
                  <p class="staffPortalText">Gender</p>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="space-between stretch" [fxShow]="true">
              <div fxLayout="column wrap" class="inputContainer" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
                <div>
                  <p class="staffPortalText">Phone Number</p>
                </div>
                <div class="leaveDetails">
                  <p class="staffPortalText">Phone Number</p>
                </div>
              </div>
              <div fxLayout="column wrap" class="inputContainer" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
                <div>
                  <p class="staffPortalText">Leave Type</p>
                </div>
                <div class="leaveDetails">
                  <p class="staffPortalText">Leave Type</p>
                </div>
              </div>
              <div fxLayout="column wrap" class="inputContainer" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
                <div>
                  <p class="staffPortalText">Applied Date</p>
                </div>
                <div class="leaveDetails">
                  <p class="staffPortalText">Applied Date</p>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="space-between stretch" [fxShow]="true">
              <div fxLayout="column wrap" class="inputContainer" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
                <div>
                  <p class="staffPortalText">Applied No. of Days</p>
                </div>
                <div class="leaveDetails">
                  <p class="staffPortalText">Applied No. of Days</p>
                </div>
              </div>
              <div fxLayout="column wrap" class="inputContainer" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
                <div>
                  <p class="staffPortalText">Applied No. of Days</p>
                </div>
                <div class="leaveDetails">
                  <p class="staffPortalText">Applied No. of Days</p>
                </div>
              </div>
              <div fxLayout="column wrap" class="inputContainer" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
                <div>
                  <p class="staffPortalText">Leave Period</p>
                </div>
                <div class="leaveDetails">
                  <p class="staffPortalText">Leave Period</p>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="space-between stretch" [fxShow]="true">
              <div fxLayout="column wrap" class="inputContainer" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
                <div>
                  <p class="staffPortalText">Leave Reason</p>
                </div>
                <div class="leaveDetails">
                  <p class="staffPortalText">Leave Reason</p>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="space-between stretch" [fxShow]="true">
              <div fxLayout="column wrap" class="inputContainer" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
                <div>
                  <p class="staffPortalText">Admin Remarks</p>
                </div>
                <div class="leaveDetails">
                  <p class="staffPortalText">Admin Remarks</p>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="space-between stretch" [fxShow]="true">
              <div fxLayout="column wrap" class="inputContainer" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true">
                <div>
                  <p class="staffPortalText">Leave Status From Admin</p>
                </div>
                <div class="leaveDetails">
                  <p class="staffPortalText">Leave Status From Admin</p>
                </div>
              </div>
              <div fxLayout="column wrap" fxFlex="20" fxLayoutAlign="end center" [fxShow]="true"><button mat-button class="staffPortalSubmitButton" (click)="openDialog()">Take Action</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>