<div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" style="height:90px; background-color: #202060" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true"></div>
    <div fxLayout="row wrap" style="height: calc(100vh - 90px); " class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" style="background-color: #202060 ;" fxFlex="300px" fxLayoutAlign="start stretch" [fxShow]="true"></div>
      <div fxLayout="column wrap" style="background-color: green ;" fxLayoutAlign="start stretch" [fxShow]="true"></div>
    </div>
  </div>
</div>