<div fxLayout="row wrap" class="fullvh backgroundColour fullWidth" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" class="marginBottom50" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="/Web/Downloaded images/logo.png" width="400px"></div>
    <div fxLayout="row wrap" class="marginBottom50 fullWidth" fxLayoutAlign="center center" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-progress-bar [mode]></mat-progress-bar>
      </div>
    </div>
    <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="center center" [fxShow]="true">
      <div>
        <p style="color: white">Loading ...</p>
      </div>
    </div>
  </div>
</div>